<img src = "./img/TheBridge_logo_RGB_color.jpg" width = 500><img src = "./img/python.jpg" width = 500>

# Python Basics I

## Tipos de los datos
Python es un lenguaje fuertemente tipado. Eso significa que las variables que usamos pertenecen a un tipo de datos: numero entero (int), real (float), texto (String), u otro tipo de objetos.

**¿Por qué es importante saber bien de que tipos son los datos?** Porque cada tipo de dato tiene una serie propiedades y operaciones asociadas. Por ejemplo, a un texto no lo puedo sumar 5. Por lo que cuando vayamos a hacer operaciones entre ellos, tenemos que asegurarnos de que son del mismo tipo para que el resultado sea el esperado. `texto + 5` no tiene sentido y va a dar error. Parece obvio, pero hay ocasiones en las que los tipos de los datos no son los esperados.

**¿Cuántos tipos de datos hay?** Básicamente aquí no hay límites. En este notebook veremos los más básicos, pero en notebooks posteriores verás que puedes crearte tus propios tipos de datos mediante las **clases**. En Python hay una serie de tipos de datos básicos, que podremos usar sin importar ningun módulo externo, son los llamados [*built-in Types*](https://docs.python.org/3/library/stdtypes.html). Estos son los más comunes:

* **Numérico**: tenemos `int`, `float` y `complex`. Dependiendo de si es un numero entero, uno real o un complejo respectivamente.
* **String**: o Cadena. Cadena de texto plano
* **Booleano**: o Lógico. `True`/`False`

**¿Cómo sabemos el tipo de datos de una variable?** Mediante `type(nombre_variable)`

## Contenidos

* [Numéricos](#Numéricos)
* [Strings](#Strings)
* [Booleano](#Booleano)

### Numéricos [al indice](#Contenidos)

In [6]:
numero = 22
type(numero) #Es una función que nos va a dar el tipo de variable

int

Bien, es un ***int***, un número entero. Si lo que quiero es un numero real, es decir, que tenga decimales, le añado un punto

In [3]:
numero_real = 22.0
print(type(numero_real))

<class 'float'>

Aunque no le haya añadido decimales como tal, ya le estoy diciendo a Python que esta variable es un numero real (***float***).

In [4]:
numero_real_decimales = 22.45123
print(type(numero_real_decimales))

<class 'float'>

Algunas operaciones básicas que podemos hacer con los numeros:
* Sumar: `+`
* Restar: `-`
* Multiplicar: `*`
* Dividir: `/`
* Elevar: `**`
* Cociente division: `//`
* Resto de la división: `%`

In [7]:
print("Sumas/restas")
print(1 + 2)
print(1.0 + 2) # Fijate que cuando fuerzo a que alguno de los numeros sea float, el resultado es float
print(1 + 2.0)
print(1-2)

Sumas/restas
3
3.0
3.0
-1

In [10]:
print("Multiplicaciones/Divisiones")
print(2 * 2)
print(2.0 * 2) # Ocurre lo mismo que en las sumas, cuando ponemos uno de los numeros como float.
print(2/2) # Al hacer la división, directamente convierte el numero en float, a pesar de que los dos son enteros y el resultado también.
print(1000/10)

Multiplicaciones/Divisiones
4
4.0
1.0
100.0

In [13]:
print("Resto de la división")
print(10/3)
print(int(10/3)) # Me quedo con el entero de la división, no redondea
print(10 % 3)# Me quedo con el resto de la división
print(10 // 3)# Me quedo con el cociente de la división

Resto de la división
3.3333333333333335
3
1
3

In [18]:
#Para ver si un número es par o impar se utiliza esa función de resto %
n=23
print("¿Es", n, "par?")
resto = n % 2
print ("el resto es",resto)
if resto == 0:
   print ("Es par")
else: print ("Es impar")

¿Es 23 par?
el resto es 1
Es impar

In [19]:
n=7483842758
print("¿Es", n, "par?")
resto = n % 2
print ("el resto es",resto)
if resto == 0:
   print ("Es par")
else: print ("Es impar")

¿Es 7483842758 par?
el resto es 0
Es par

### Strings
[al indice](#Contenidos)
El tercer tipo de datos más común es el *String*, o cadena de texto. Hay varias maneras de declararlo:

In [20]:
# Con comillas dobles
cadena = "Esto es una variable de tipo string"
# Con comillas simples
cadena_2 = "Esto es una variable de tipo string en comillas simples"
print(cadena)
print(cadena_2)

Esto es una variable de tipo string
Esto es una variable de tipo string en comillas simples

Si da la casualidad de que en el texto hay comillas, tenemos la posibilidad de que Python las interprete como parte del texto y no como comando de inicio/cierre de String

In [24]:
print("String con 'simples'")
print('String con "simples"')
print("String con \"simples o dobles\"") 
#Esta \ hace que el siguiente caracter no interfiera con la función

String con 'simples'
String con "simples"
String con "simples o dobles"

En ocasiones queremos poner saltos de línea o tabulaciones en los prints, o simplemente en una variable de tipo String. Para ello usamos los [*escape characters*](https://www.w3schools.com/python/gloss_python_escape_characters.asp) como `\n` para saltos de línea o `\t` para tabulaciones.

In [29]:
print("Primera linea\nSegunda linea\n\tTercera linea, tablulada")

Primera linea
Segunda linea
	Tercera linea, tablulada

In [28]:
mi_string = "Primera linea\nSegunda linea\n\tTercera linea, tablulada"
print (mi_string)

Primera linea
Segunda linea
	Tercera linea, tablulada

Para unir dos variables de tipo String, simplemente usamos el `+`

In [34]:
nombre = "Antonia"
apellido = "Scott"
nombre_apellido = nombre + " " + apellido #podemos añadir el espacio con " "
print (nombre_apellido)

Antonia Scott

In [35]:
nombre = "Antonia"
apellido = "Scott"
espacio = " "
nombre_apellido_2 = nombre + espacio + apellido #o añadirlo escribiendo la variable espacio
print (nombre_apellido_2)

Antonia Scott

In [39]:
 # Solo puedo concatenar string a string y int a int 
prueba="una prueba"
un_entero=100
print(prueba + un_entero)

<class 'TypeError'>: can only concatenate str (not "int") to str

### Booleano
[al indice](#Contenidos)
Por último, el cuarto tipo de datos basiquísimo es el *booleano*: `True`/`False`. Para que Python reconoza este tipo de datos, hay que escribirlos con la primera letra en mayúscula

In [41]:
#Las variables booleanas solo funcionan con la primera letra en mayuscula!!!
ya_se_de_phyton=False
print(type(ya_se_de_phyton))

<class 'bool'>

In [43]:
#Este tipo de operaciones nos dan un booleano
dinerito = 5
dinerito >= 15

False

In [46]:
#también se pueden incluir en variables
dinerito = 15
cond_1= dinerito>= 15
print(cond_1)
print(type(cond_1))

True
<class 'bool'>

Tipos de datos hay muchos, verás más adelante cómo crear tus propios tipos de datos mediante las clases y los objetos. Pero por ahora, quédate con los tipos de datos más simples:
* **int**: entero
* **float**: real
* **str**: cadena de texto
* **booleano**: true/false

En otros lenguajes de programación el valor numérico suele ir más desagregado dependiendo del volumen del mismo. No es lo mismo tener un `double`, que un `float`. Por suerte en Python no hay que preocuparse de eso :)

Veamos más ejemplos

In [47]:
print (type(1.0))

<class 'float'>

In [49]:
print (type(-74))

<class 'int'>

In [50]:
print (type("3.45"))

<class 'str'>

In [52]:
print (type(True))

<class 'bool'>